<h1>All Books</h1>

<ul>
  <% @books.each do |book| %>
    <li>
      <%= book.title %>
    </li>
  <% end %>
</ul>


<h1>Top 3 Books</h1>
<%= render partial: 'top_books', locals: { top_books: @top_books } %>